<div>
    <h2 data-translate="jHipsterAppliApp.personnage.home.title">Personnages</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="personnage.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="jHipsterAppliApp.personnage.home.createLabel">
                        Create new Personnage
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.name">Name</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.type">Type</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.lifePoints">Life Points</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.movementPoints">Movement Points</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.attackPoints">Attack Points</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.defensePoints">Defense Points</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.magicPoints">Magic Points</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.capacity">Capacity</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.inLive">In Live</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.img">Img</span></th>
                    <th><span data-translate="jHipsterAppliApp.personnage.playingBy">Playing By</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="personnage in vm.personnages track by personnage.id">
                    <td><a ui-sref="personnage-detail({id:personnage.id})">{{personnage.id}}</a></td>
                    <td>{{personnage.name}}</td>
                    <td data-translate="{{'jHipsterAppliApp.Type.' + personnage.type}}">{{personnage.type}}</td>
                    <td>{{personnage.lifePoints}}</td>
                    <td>{{personnage.movementPoints}}</td>
                    <td>{{personnage.attackPoints}}</td>
                    <td>{{personnage.defensePoints}}</td>
                    <td>{{personnage.magicPoints}}</td>
                    <td>{{personnage.capacity}}</td>
                    <td>{{personnage.inLive}}</td>
                    <td>
                        <a ng-if="personnage.img" ng-click="vm.openFile(personnage.imgContentType, personnage.img)">
                            <img data-ng-src="{{'data:' + personnage.imgContentType + ';base64,' + personnage.img}}" style="max-height: 30px;" alt="personnage image"/>
                        </a>
                        <span ng-if="personnage.img">{{personnage.imgContentType}}, {{vm.byteSize(personnage.img)}}</span>
                    </td>
                    <td data-translate="{{'jHipsterAppliApp.Role.' + personnage.playingBy}}">{{personnage.playingBy}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="personnage-detail({id:personnage.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personnage.edit({id:personnage.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="personnage.delete({id:personnage.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
