
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myPersonnageLevelStageLabel" data-translate="jHipsterAppliApp.personnageLevelStage.home.createOrEditLabel">Create or edit a Personnage Level Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.personnageLevelStage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.personnageLevelStage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jHipsterAppliApp.personnageLevelStage.personnagesQuantity" for="field_personnagesQuantity">Personnages Quantity</label>
            <input type="number" class="form-control" name="personnagesQuantity" id="field_personnagesQuantity"
                    ng-model="vm.personnageLevelStage.personnagesQuantity"
                     />
        </div>

        <div class="form-group">
            <label data-translate="jHipsterAppliApp.personnageLevelStage.personnage" for="field_personnage">Personnage</label>
            <select class="form-control" id="field_personnage" name="personnage" ng-model="vm.personnageLevelStage.personnage" ng-options="personnage as personnage.id for personnage in vm.personnages track by personnage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="jHipsterAppliApp.personnageLevelStage.levelStage" for="field_levelStage">Level Stage</label>
            <select class="form-control" id="field_levelStage" name="levelStage" ng-model="vm.personnageLevelStage.levelStage" ng-options="levelStage as levelStage.id for levelStage in vm.levelstages track by levelStage.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
