.gli-2x {
	font-size:2em;
}

.gli-3x {
	font-size:3em;
}

.fontLessQuart {
	font-size:0.75em;
}

.sideMenu {
	height:100%; 
	width:10%; 
	position:fixed;
	margin: 10px 0px;
}

.divSideMenu {
	height:19%; width:100%;
}

.sideMenuButton {
	border:1px black solid; 
	border-radius:5px; 
	background-color:transparent;
}

.divSideMenuButton {
	height:10%; 
	width:100%; 
	margin-left:5%;
}

.body {
	width:100%; 
	height:100%; 
	display:flex;
}

.divRole {
	display:inline; 
	float:right;
	background-color:transparent;
	border:none;
	border-left:2px black solid; 
	border-bottom:2px black solid;
	border-radius: 5px;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	padding-top:10px;
	padding-bottom:20px;
}

.well {
	min-height: 100%;
	min-width: 90%;
	margin-left: 10%;
	padding: 10px;
	margin-bottom: 0px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none; 
}


/* Pour la page des cartes */

.cards {
	border:2px black solid; 
	padding:0px 10px; 
	width:15%; 
	height:100%;
	float:left;
	margin:0px 5px;
}

/*
.cardTitle {
	font-size: 0.75em;
	border-bottom: 1px black solid;
	font-weight: bold;
	text-align: center;
}*/

.cardQuestion {
	font-size: 0.5em;
	border-bottom: 1px black solid;
	font-weight: bold;
	text-align: center;
	margin-bottom:5px;
	padding:5px 0px;
}

.cardAnswers {
	font-size:0.5em;
	margin-bottom: 10px;
}

.cardRealAnswer {
	font-size: 0.5em;
	font-style:italic; 
	border-top:1px black solid; 
	position:absolute; 
	bottom:5px;
	width:13%;
	padding:5px 0px;
}

.cardsDetails {
	border:2px black solid; 
	padding:0px 10px; 
	width:50%; 
	height:94vh;
	float:left;
	margin:0px 5px;
}

.cardQuestionDetails {
	font-size: 1.5em;
	border-bottom: 1px black solid;
	font-weight: bold;
	text-align: center;
	margin-bottom:5px;
	padding:5px 0px;
}

.cardAnswersDetails {
	font-size: 1.5em;
	margin-bottom: 10px;
}

.cardRealAnswerDetails {
	font-size: 1.5em;
	font-style:italic; 
	border-top:1px black solid; 
	position:absolute; 
	bottom:5px;
	width:25%;
	padding:5px 0px;
}


/* Pour la page du fight */

.imgFight {
	height:100%;
	width:15%;
}

.btnFight {
	width:25%;
	height:9vh;
}

.separating {
	width:65%;
	display:inline-block;
}

.actionButtons {
	width:68%;
	display:inline-block;
	height:20vh;
	vertical-align:top;
	padding-top:5px;
}

.separatingActions {
	width:45%;
	display:inline-block;
}