<div class="col" style="height:100%; width:100%">
	<div class="divSideMenuButton"><button ng-click="vm.changeRole()" class="sideMenuButton">{{vm.game.role}}</button></div>
	<div class="divSideMenu glyphicon glyphicon-home gli-3x" ui-sref="game"></div>
	<div class="divSideMenu glyphicon glyphicon-user gli-3x" ui-sref="team"></div>
	<div class="divSideMenu glyphicon glyphicon-screenshot gli-3x" ui-sref="selectCharacter"></div>
	<div class="divSideMenu" ui-sref="draw"><img style="width:70%"src="content/images/cards/cards.png" alt="Image cartes" /></div>
	<div class="divSideMenuButton"><button ng-click="vm.increaseTurn()" class="sideMenuButton">T : {{vm.turn}}</button></div>
</div>