
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBuildingTypeLevelStageLabel" data-translate="hack47App.buildingTypeLevelStage.home.createOrEditLabel">Create or edit a Building Type Level Stage</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.buildingTypeLevelStage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.buildingTypeLevelStage.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="hack47App.buildingTypeLevelStage.buildingsQuantity" for="field_buildingsQuantity">Buildings Quantity</label>
            <input type="number" class="form-control" name="buildingsQuantity" id="field_buildingsQuantity"
                    ng-model="vm.buildingTypeLevelStage.buildingsQuantity"
                     />
        </div>

        <div class="form-group">
            <label data-translate="hack47App.buildingTypeLevelStage.levelStage" for="field_levelStage">Level Stage</label>
            <select class="form-control" id="field_levelStage" name="levelStage" ng-model="vm.buildingTypeLevelStage.levelStage" ng-options="levelStage as levelStage.id for levelStage in vm.levelstages track by levelStage.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="hack47App.buildingTypeLevelStage.buildingType" for="field_buildingType">Building Type</label>
            <select class="form-control" id="field_buildingType" name="buildingType" ng-model="vm.buildingTypeLevelStage.buildingType" ng-options="buildingType as buildingType.id for buildingType in vm.buildingtypes track by buildingType.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
