
<form name="editForm" role="form" novalidate ng-submit="vm.save()" style="padding:50px;">



	<div class="row">
		<center><span class="col-xs-4"></span><img src="content/images/characters/{{vm.personnage.name}}.png" alt="Image personnage" class="col-xs-4" /></center> <!-- <span class="col-xs-4"></span><span class="col-xs-4"><center>Image</center></span> -->
	</div>
	<br />
	<div class="row">
		<span class="col-xs-4"></span><span class="col-xs-4" ><strong><center>{{vm.personnage.name}}</center></strong></span>
	</div>
	<div class="row">
		<span class="col-xs-4"></span><span class="col-xs-4"><strong><center>{{vm.personnage.type}}</center></strong></span>
	</div>
	<br />
	<div class="row">
		<span class="col-xs-4"><strong><label for="field_lifePoints">Points de Vie</label> :</strong> 
            <input type="number" style="width:60px;" class="form-control" name="lifePoints" id="field_lifePoints"
                    ng-model="vm.personnage.lifePoints" /></span>
		<span class="col-xs-4" ><strong><center>Attaque :</strong> {{vm.personnage.attackPoints}}</center></span>
		<span class="col-xs-4"><span class="pull-right"><strong>Défense :</strong> {{vm.personnage.defensePoints}}</span></span>
	</div>
	<div class="row">
		<span class="col-xs-4" ><strong>Mouvement :</strong> {{vm.personnage.movementPoints}}</span>
		<span class="col-xs-4" ><center><strong><label class="control-label" data-translate="jHipsterAppliApp.personnage.magicPoints" for="field_magicPoints">Points de Magie</label> :</strong> 
            <input type="number" style="width:60px;" class="form-control" name="magicPoints" id="field_magicPoints"
                    ng-model="vm.personnage.magicPoints" />
		</center></span>
	</div>
	<br />
	<div class="row">
		<strong class="col-xs-12">Capacité :</strong>
		<p class="col-xs-12">{{vm.personnage.capacity}}</p>
	</div>
	<div class="row">
		<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
	</div>
</form>
